body {
	background: rgb(55, 55, 55);
	color: rgb(215, 215, 215);
	border-color: rgb(215, 215, 215);
	font-family: arial;
}

h1 {
	background: rgb(45, 45, 45);
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	font-family: monospace;
	font-size: 35px;
}

p {
	background: rgb(45, 45, 45);
	border-style: solid;
	border-width: 2px;
	border-radius: 7px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 16px;
}

button {
	background: rgb(45, 45, 45);
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	color: rgb(215, 215, 215);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	transition: 0.3s;

}

button:hover {
	background: rgb(25, 25, 25);
}

button:active {
	border-color: rgb(0, 0, 215);
	transition: none;
}

input {
	background: rgb(45, 45, 45);
	color: rgb(215, 215, 215);
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: rgb(215, 215, 215);
}

input:hover {
	background: rgb(25, 25, 25);
}

input:active {
	border-color: rgb(0, 0, 215);
	transition: none;
}


a {
	color: rgb(150, 150, 255);	
}

a:visited {
	color:  rgb(120, 120, 200);
	text-decoration: underline;
}

.navBar {
	text-align: center;
	font-size: 20px;
	margin: auto;
	width: 45%;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	border-color: rgb(215, 215, 215);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
}