body {
	background: rgb(55, 55, 55);
	color: rgb(215, 215, 215);
	border-color: rgb(215, 215, 215);
	font-family: arial;
	text-align: center;
}

h1 {
	background: rgb(45, 45, 45);
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	font-family: monospace;
	font-size: 35px;
}

p {
	background: rgb(45, 45, 45);
	color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 2px;
	border-radius: 7px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	margin-left: 10%;
	margin-right: 10%;
}

button {
	background: rgb(45, 45, 45);
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	color: rgb(215, 215, 215);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	transition: 0.3s;
	font-size: 20px;
}

button:hover {
	background: rgb(25, 25, 25);
}

button:active {
	border-color: rgb(0, 0, 215);
	transition: none;
}

input {
	background: rgb(45, 45, 45);
	color: rgb(215, 215, 215);
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: rgb(215, 215, 215);
}

input:hover {
	background: rgb(25, 25, 25);
}

input:active {
	border-color: rgb(0, 0, 215);
	transition: none;
}


a {
	color: rgb(150, 150, 255);	
}

a:visited {
	color:  rgb(120, 120, 200);
	text-decoration: underline;
}

.navBar {
	text-align: center;
	font-size: 20px;
	margin: auto;
	width: 45%;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	border-color: rgb(215, 215, 215);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2),0 6px 20px 0 rgba(255,255,255,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: rgb(205, 205, 205);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

.modalHeader {
	background: rgb(45, 45, 45);
	color: rgb(205, 205, 205);
	padding: 2px 16px;
}

.modalBody {
	background: rgb(35, 35, 35);
	color: rgb(255, 255, 255);
	padding: 2px 16px;
}

.modalFooter {
	background: rgb(45, 45, 45);
	color: rgb(205, 205, 205);
	padding: 2px 16px;
}

.submitQuestionnaire {
	margin-bottom: 10px;
}

footer {
	background: rgb(47, 47, 47);
	text-align: left;
	width: 96%;
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 20px;
}

.feedbackForm {
	
}

textArea {
	background: rgb(45, 45, 45);
	color: white;
	padding: 5px 5px 10px 10px;

}